{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-meta">
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </p>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
  <div class="post-share">
    <a class="share-btn share-btn--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlize }}" target="_blank" rel="noopener noreferrer">Share on Facebook</a>
  </div>
</article>
{{ end }}
